<ion-view view-title="About">
    <ion-content class="padding pulse animated text-center qrtme-bg">
        <p class="text-center">
            <img src="img/logo.png" width="228px" height="228px">
        </p>
        <div class="card">
            <div class="item item-divider">
                About
            </div>
            <div class="item item-text-wrap">
                <p>
                    QRtme is an app to help people to access their links from their computer to their phone without typing anything, only using QR Codes.
                </p>
            </div>
        </div>
        <div class="card">
            <div class="item item-divider">
                Team
            </div>
            <div class="item item-text-wrap">
                <p class="dash-title">
                    Created By
                </p>
                <p class="author">
                    <strong>Christopher EnyTC</strong>
                    <br/>
                    <span>http://chris.enytc.com</span>
                </p>
            </div>
        </div>
        <div class="card">
            <div class="item item-divider">
                Donations
            </div>
            <div class="item item-text-wrap">
                <p>
                    Do you like QRTme? Make a donation to keep it without advertising.
                </p>
                <p class="padding">
                    <span>Bitcoin address:</span>
                    <strong>1CxkSiE9G2WnxBVA5qiTPLkW9Lhfx8XLTH</strong>
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>
